* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6, p, span {
  margin: 0;
  padding: 0;
}
body {
   font-family: 'Roboto', sans-serif;
    color: #000;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700&display=swap');
